@page "{id}"
@model WebApplication1.Pages.EditModel

@{
}
<h1>Edit User</h1>

<form method="post">
    <div>
        <label asp-for="user.FirstName"></label>
        <input asp-for="user.FirstName" />
        <span asp-validation-for="user.FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="user.Password"></label>
        <input asp-for="user.Password" />
        <span asp-validation-for="user.Password" class="text-danger"></span>
    </div>
  

    <input type="submit" value="Save" />
</form>
