@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        int i = 0;
        while(i<=10)
        {
            <h5>GOOD AFTERNOON!!!</h5>
            i++;
        }
        

   }
    
    
    
</div>
